<h3 class="post_title"><%= @post.title %></h3>
<p class="post_subtitle">By Josh Cheek on <%= @post.created_at %></p>

<p class="post_body"><%= @post.body %></p>

<h3>Comments:</h3>
<table>
  <% @post.comments.each do |comment| %>
    <tr>
      <td><a href="<%= comment.homepage %>"><%= comment.posted_by %></a></td>
      <td><%= comment.body %></td>
    </tr>
  <% end %>
</table>


<h3>Add Comment:</h3>


  <form name="comment" action="/comments/create" method="post">

    <% ( @comment.errors rescue Array.new ).each do |error| %>
      <p class="error">
        <%= error %>
      </p>
    <% end %>

    <p>Name:      <input type="text" name="comment[posted_by]"  value="<%= h @comment.posted_by %>" /></p>
    <p>Email:     <input type="text" name="comment[email]"      value="<%= h @comment.email %>"     /></p>
    <p>Homepage:  <input type="text" name="comment[homepage]"   value="<%= h @comment.homepage %>"  /></p>
    <p>Body:      <input type="text" name="comment[body]"       value="<%= h @comment.body %>"      /></p>
    <input type="hidden" name="comment[blog_post_id]" value="<%= @post.id %>" />
    <p><input type="submit" value="Submit" /></p>

  </form>
  
</p>